<!-- <p>homepage works!</p> -->

<!-- <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 cursor-pointer py-16">
    <div *ngFor="let item of filteredItems" class="max-w-xs rounded overflow-hidden shadow-lg">
      <!-- your existing item template here -->
<!-- </div> -->
<!-- </div> -->

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Mini
                Vendor</span>
        </a>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="profile"
                        class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                        aria-current="page">Profile</a>
                </li>
                <!-- <li>
                    <a>
                        Cart
                    </a>
                </li> -->
                <li>
                    <a class="text-rose-500">
                        Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <lr-config ctx-name="my-uploader" pubkey="aa6062d37d5789ca0175" sourceList="local, url, camera, dropbox, grd" />
<lr-file-uploader-regular ctx-name="my-uploader"
    css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.30.0/web/lr-file-uploader-regular.min.css" />
<lr-upload-ctx-provider ctx-name="my-uploader" #ctxProvider />

<div *ngFor="let uploadedFile of uploadFiles">
    <img [src]="uploadedFile.cdnUrl + '/-/preview/-/resize/x200/'" *ngIf="uploadedFile.cdnUrl" title="image"/>
</div>

<input type="text" name="ïmageUrl" [(ngModel)]="uploadedImageUrl" disabled/> -->

<h1 *ngIf="user" class="text-center">Welcome back, {{ user.username }} !</h1>
<!-- Display other user information here -->

<div class="max-w-screen-xl mx-auto my-4">
    <label for="search" class="sr-only">Search</label>
    <input
        type="text"
        id="search"
        placeholder="Search..."
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        [(ngModel)]="searchQuery"
        (input)="searchItems()"
    />
</div> 

<!-- <div class="flex flex-row items-center justify-center">
    <div *ngFor="let user of allUsers" class="flex items-center justify-center">
        <button class="h-10 w-20 border rounded-md bg-emerald-300">{{ user.name }}</button>
    </div>
</div> -->

<div
    class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 cursor-pointer py-16" >
    <div *ngFor="let item of filteredItems"
        class="max-w-xs rounded overflow-hidden shadow-lg" (click)="openEachItemDialog(item._id, item.title,item.description, item.price, item.quantity, item.imageUrl, item.comments)">
        <img class="w-full h-48 object-cover" src="{{item.imageUrl}}"
            alt="{{ item.title }}">

        <div class="px-6 pb-2">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                {{ item.price }} $
            </span>
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                In stock : {{ item.quantity }}
            </span>
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ item.title }}</div>
            <p class="text-gray-700 text-base">{{ item.description }}</p>
        </div>

    </div>
</div>